<div id="index">
	<div>
		<div>Image Downloader</div><a href="/imgD">Open</a>
	</div>
	<div>
		<div>YouTube Video Downloader </div><a href="/ytdl">Open</a>
	</div>
	<div>
		<div>WhatsUp</div><a href="/wu">Open</a>
	</div>
	<div>
		<div>File Downloader</div><a href="/fd">Open</a>
	</div>
	{{#if isDev}}
	<div>
		<div>Gallery</div><a href="/gallery">Open</a>
	</div>
	{{/if}}
</div>