<div class="login-container">
	<form class="login-form" onsubmit="return false">
		<h3> LOGIN </h3>
		<section class="login-input-c">
			<div icon="user"></div>
			<input type="email" name="uid" placeholder="EMAIL" required>
		</section>
		<section class="login-input-c">
			<div icon="lock"></div>
			<input type="password" name="key" pattern="[a-zA-Z_!@#$%^&*()+|/.,;:]{8,20}" placeholder="Password" title="Password should be 8-10 digit" required>
			<div icon="eye"onclick="t_psi(this, 'key')"></div>
		</section>
		<p>
			<input type="checkbox" id="rem-me"> <label for="rem-me">Remember Me</label>
		</p>
		<button class="button">LOGIN</button>
	</form>
</div>