<div class="signup-box">
	<div class="su-form-box">
		<h2> Create new User</h2>
		<form class="su-form" onsubmit="return false;">
			<div class="su-if">
				<div icon="mail"></div><input placeholder='Email' type='email' required />
			</div>
			<div class="su-if">
				<div icon="lock"></div><input placeholder='Enter Password' type='Password' required />
			</div>
			<div class="su-if">
				<div icon="lock"></div><input placeholder='Repeat Password' type='password' required />
			</div>
			<div class="captcha">
				<div class="captcha-bg">Generating Captcha <br /> Please Wait ...</div>
				<img src="/captcha" onclick="newCaptcha(this)" />
			</div>
			<div class="su-if">
				<div icon="eye"></div><input placeholder='Enter the Captcha code' required />
			</div>
			<div class="su-btn">
				<div icon="search"></div><input value='SignUp' type='submit' />
			</div>
		</form>
	</div>
</div>