<div class="ytdl-app">
	
	<form class="ytdl-form">
		<h2 class="ytdl-heading" > YOUTUBE VIDEO DOWNLOADER </h2>
		<label for="url" class="f-13p usr-no"> Video URL : </label>
		<input
			value="https://youtu.be/ume21S9Jchw"
			id="url"
			class="p-s bdr out-no rc-s"
			placeholder="paste ur link here ..."
			type="search"
			required
		/>
		<button class="ytdl-btn button" onclick="pressed(this, true);">
			Submit
		</button>
	</form>

	<div class="loader" style="display:none; font-size: 0px;" >loader</div>

	<div
		id="ytdl_err"
		class="ytdl-error"
		onclick="this.style.display = 'none' ; "
	>
		Error Occurred !
	</div>

	<div id="panel" class="ytdl-panel">
		<div class="ytdl-tab-container avtab">
			<div class="active" onclick="toggle_avTab(this)"> Video </div>
			<div onclick="toggle_avTab(this)" > Audio </div>
		</div>
		<iframe title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen id="vif" class="rc-s mw-80pg" src=""></iframe>
		<div class="video-name" id="vn"> Video Name (2 m 34 sec) </div>
		
		<div class="video-panel" id="vPanel">
			<div class="quality">
				<div> 720p </div>
				<div> 2.5 MB </div>
				<div
					class="ytdl-dbtn"
					onclick="pressed(this)"
				> <a>Download </a></div>
			</div>
		</div>
		
		<div id="aPanel">
			<div class="quality">
				<div> 64 kbps </div>
				<div> 2.5 MB </div>
				<div
					class="ytdl-dbtn"
					onclick="pressed(this)"
				> <a>Download </a></div>
			</div>
		</div>
	</div>
	
</div>

<script type="module" src="/js/ytdl.js"></script>