@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes rot {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes colors {
	0% {
		color: #a37;
	}
	10% {
		color: #4b3;
	}
	20% {
		color: #42b;
	}
	30% {
		color: #927;
	}
	40% {
		color: #ab3;
	}
	50% {
		color: #287;
	}
	60% {
		color: #c3d;
	}
	70% {
		color: #abc;
	}
	80% {
		color: #cba;
	}
	90% {
		color: #bac;
	}
	100% {
		color: #017;
	}
}

@keyframes wide {
	0% {
		width: 0ch;
	}
	100% {
		width: 30ch;
	}
}
