.imgD-input-container {
	--box-size: 40px;
	--svg-size: 80%;
	--box-bg: var(--dnw-0);
}
.imgD-input-container div {
	height: var(--box-size);
	width: calc(var(--box-size) + 10px);
	background: var(--box-bg);
	border-radius: 10px 0 0 10px;
	padding: 0 5px;
}

.imgD-input-container [icon] > svg {
	height: var(--svg-size);
	width: var(--svg-size);
}

.imgD-input-container input {
	height: var(--box-size);
	width: 100%;
	box-sizing: border-box;
	border-radius: 0;
	border: 0;
	background: var(--box-bg);
}

.imgD-input-container input[type="submit"] {
	background: red;
	height: var(--box-size);
	width: 100px;
	box-sizing: border-box;
	border-radius: 0 10px 10px 0;
	font-weight: 400;
	color: #fff;
	font-size: 14px;
}
