.user-control {
	--uc-size : 50px;
	height: var(--uc-size);
	width: var(--uc-size);
	--uc-menu-bg : #333;
}

.user-control > [icon] {
	--uc-icon-size : 40px;
	height: var(--uc-icon-size);
	width: var(--uc-icon-size);
}

.uc-menu {
	min-width: 200px;
	position: absolute;
	top:  60px;
	right: 10px;
	min-height: 40px;
	border-radius: 5px;
	transition: 0.3s;
	background: var(--uc-menu-bg);
	display: none;
}
.uc-ls {
	color: white;
	padding: 5px;
}
.uc-ls > a {
	display: inline-block;
	padding: 5px 15px;
	border-radius: 5px;
	margin: 5px;
	transition: 0.3s;
}

.uc-ls > a:hover {
	background: #fff;
	color: #333;
}

.uc-menu::before {
	--my-size : 10px;
	content: "";
	display: block;
	position: absolute;
	top: -20px;
	right: 10px;

	height: 0; width: 0;
	border: var(--my-size) solid rgba(0, 0, 0, 0);
	border-bottom-color: var(--uc-menu-bg);
}

