.ytdl-form {
	margin: 10px;
	padding: 10px;
	border-radius: 5px;
	background: #ddd;
	text-align: center;
}

.ytdl-form input {
	padding: 7px 5px;
	border: 1px;
	outline: none;
	border-left: 1px solid red;
	border-radius: 0 15px 15px 0;
}

.ytdl-form button {
	margin: 10px;
	background: #fe0000;
	color: #fff;
	font-weight: 600;
}


@media (prefers-color-scheme: dark) {
	.ytdl-form {
		background: #222;
	}
}